{
  "presets": [
    ["env", {
      "targets": {
        "node": "8.0"
      },
      "useBuildIns": true
    }]
  ],
  "plugins": [
    "transform-object-rest-spread"
  ],
  "ignore": ["nodule_modules/**/*.js"]
}